<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="d-flex justify-content-between w-100">
      <a class="navbar-brand" href="/">
        <img src="assets/FisioCore horizontal.svg" alt="Logo" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 me-3">
        <li class="nav-item">
          <a class="nav-link" href="#">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reservar']">RESERVAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACTO</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <select class="form-select form-select-sm w-auto me-2" (change)="changeLanguage($event)">
          <option value="" selected disabled>Idioma</option>
          <option value="en">English</option>
          <option value="es">Español</option>
        </select>

        <a class="btn btn-outline-primary text-nowrap me-2" [routerLink]="['/auth/iniciar-sesion']">Iniciar sesión</a>
        <a class="btn btn-primary" [routerLink]="['/auth/registrarse']">Registrarse</a>
      </div>
    </div>
  </div>
</nav>